@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; /* 62.5% because now 1rem=10px */
}

body {
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.topHeading {
  background: linear-gradient(135deg, #f46c6c, #087afd);
  background-clip: text; /* Apply the gradient to the text */
  -webkit-background-clip: text; /* For Safari compatibility */
  color: transparent;
}
.search {
  display: flex;
  width: 50%;
  max-width: 78rem;
  gap: 1rem;
}

.search input {
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 5px;
}
.search input:focus-visible {
  outline: 1px solid rgb(9, 102, 208);
}

.primary-btn {
  background: #087afd;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
}
.primary-btn:hover {
  background: #0655af;
}
.primary-btn:active {
  background: #519cf1;
}

/* FOR CARD */
#profileContainer {
  width: 100%;
}
.profile-box {
  margin: auto;
  padding: 4rem 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  width: 90%;
  max-width: 60 rem;
  transition: 0.5s ease-in;
}

.profile-box:hover {
  transform: rotate(-2deg) scale(1.01);
  transition: 0.5s ease-in;
}

.top-section button {
  align-self: center;
  border-radius: 5px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left h1 {
  font-size: 1.6rem;
}

.avatar {
  height: 10rem;
  width: 10rem;
}
.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.about {
  margin: 2rem;
}

.status {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
